extends ../layout
block header
    title= pageTitle

block content
    h1 Portões
    table.table.table-striped
        thead
            tr
                th #
                th nome 
                th status 
                th key
                th qr code
        tbody
            each doc, index in docs
                tr
                    td= index+1
                    td= `${doc.nome}`
                    td= doc.status 
                    td= doc.key
                    td 
                        a(href=`qrcode/${doc._id}`) qr code

    
